@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:-webkit-any-link {
  cursor: pointer;
}
body {
  font-family: "Poppins", sans-serif;
  color: #5d6778;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}
.fixed-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
}
.logo a {
  text-decoration: none;
  color: #28b76b;
  background: transparent;
}
.logo .nav-logo {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 0;
  white-space: nowrap;
}
.logo .logo-text {
  color: #252930;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo .logo-text2 {
  font-weight: 300;
  color: #5d6778;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.social-media li {
  list-style: none;
  font-size: 1.125rem;
  background: #f4fcf6;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
}
.social-media li a {
  color: #28b76b;
}

.big-wrapper {
  display: flex;
  height: cal(100%-8vh);
  padding-top: 60px;
  overflow: hidden;
}
#navbar {
  height: 100%;
  width: 340px;
  position: fixed;
  padding-top: 12px;
  padding-bottom: 10px;
}
.sidebar {
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1);
}
.sidebar-des {
  flex-shrink: 0;
  color: #252930;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}
.items-sec {
  padding-top: 10px;
  padding-left: 15px;
  line-height: 1.8rem;
  overflow-y: auto;
}

.items-sec li {
  list-style: none;
}
.items-sec li a {
  text-decoration: none;
  font-size: 1rem;
  color: #5d6778;
}
.items-sec .title-item a {
  color: #28b76b;
  font-size: 1.1rem;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2.2rem;
}
.items-sec .title-item a i {
  margin-right: 8px;
  font-size: 1.1rem;
  background: #f4fcf6;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  padding-top: 6.5px;
}
.items-sec .item a {
  margin-left: 20px;
}
/*
//////////////// main doc section ///////////////////////
*/
#main-doc {
  margin-left: 350px;
  padding: 10px;
}
#main-doc img {
  height: auto !important;
}
main h1 {
  font-size: 2.5rem;
  color: #252930;
  font-weight: 600;
  margin-bottom: 32px;
}
main h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  color: #252930;
}
main p {
  margin-top: 0;
  margin-bottom: 1rem;
}
main ul,
main ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
main li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.block.block-importan {
  border-color: #d26d69;
  background: #fbf3f2;
}
.block {
  padding: 1.5rem;
  border-left: 3px solid #5d6778;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.block.block-importan .block-title {
  color: #b73c37;
}

.block .block-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.block.block-note {
  border-color: #5b99ea;
  background: #f9fbfe;
}

.block.block-note .block-title {
  color: #1c6fdc;
}
code {
  background: #f4fcf6;
  color: #252930;

  border-radius: 0.25rem;
  font-size: 87.5%;
  font-family: "Source Code Pro", monospace;
}
br {
  margin: 0;
}
.code-block {
  padding: 1.5rem;
  border-left: 3px solid #28b76bd5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #f4fcf6;
}

/*Media query*/

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: #fff;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    z-index: 1;
  }
  .big-wrapper h1 {
    font-size: 1.5rem;
  }
  .big-wrapper h2 {
    font-size: 1.2rem;
  }
  .big-wrapper p {
    font-size: 0.85rem;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 270px;
  }
}
@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
